<%- include('../partials/header') %> 
  	<h2><%=title%></h2>
	<p><img class="pic" src="images/code.png"></img></p>
  	<p>The following pages I have created are based on hobbies and things I enjoy in my day to day life. Also the image listed on the page was designed by me for a wiki I created in another class! </p>
	<p>The pages use templates from Express and W3Schools. To see the template of the bs from W3S see the footer of this page to view the orignal form.</p>
  
    <%- include('../partials/footer') %>