<%- include('../partials/header') %> 
  	<h2>A little about Hazel</h2>
	
	<p><img class="pic" src="images/hazel.jpeg" alt="my dog hazel"></img></p>
  	<p>Here's a picture of hazel at the park!</p>
  	<p>Hazel is a 2 year old red merle australian shepard. She loves to spend her time playing with her toys and her dog friends at the park. She is a loud and rambunctious pup who makes everyone smile when they meet her! We are lucky she doesn't have a tail, but if she did she would be very messy dog knocking over even more with how much she wiggles about to greet people. </p>
  	
		
    <%- include('../partials/footer') %>