<%- include('../partials/header') %> 
  	<h2><%=title%></h2>
	<p><img class="pic" src="images/potato.png"></img></p>
  	<p>One of my favorite foods is scalloped potatoes.Below is a recipe I think is amazing for making them.</p>
	<h3>STEP 1</h3>
  	<p>
Heat the oven to 350℉ and butter a deep 9" x 13" baking dish. Melt the butter in a pan over a medium heat and cook the onion and garlic with a pinch of salt for 8-10 mins until the onion has softened slightly. Tip in the flour, stir well, then cook for a few minutes more. Mix the milk and stock together, then gradually pour this in, whisking well between additions until everything is incorporated and you have a smooth sauce. Simmer for a few minutes, then season well.
		</p>
<h3>STEP 2</h3>
<p>
	Lay half the sliced potatoes in a single layer in the buttered dish, slightly overlapping them if needed. Pour over half the sauce, then scatter over half the parmesan. Arrange the remaining potatoes on top, then pour over the remaining sauce and scatter with the remaining parmesan. Cover with foil and bake for 1 hr, then remove the foil and bake for another 30 mins until golden on top.</p>

<p>To see full recipe please visit this site <a href="https://www.bbcgoodfood.com/recipes/scalloped-potatoes">BBC Good Foods</a>. </p>
		
    <%- include('../partials/footer') %>