<%- include('../partials/header') %> 
  	<h2><%=title%></h2>
	<p><img class="pic" src="images/sticker.jpg"></img></p>
  	<p>A hobby that I have outside of class is creating and designing stickers. The image above has some stickers I've created and put on my big water bottle.</p>
	<p>I have an <a href="https://www.etsy.com/shop/JustKiddingStickers">etsy shop</a> in which I sell them from, but I do have to say that some are rated R so please look lightly on them. </p>
  	
		
    <%- include('../partials/footer') %>